.page[b-45rkf8v3vv] {
    background-image: linear-gradient(45deg, lightgrey, white);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* TOP BAR */

.topBar[b-45rkf8v3vv] {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.topBarItem[b-45rkf8v3vv] {
    padding: 8px 16px 8px 16px;
    margin: 12px 0 12px 12px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 32px;
    cursor: pointer;
    transition: all 250ms ease;
}

.topBarItem:hover[b-45rkf8v3vv] {
    background-color: rgba(0, 0, 0, 0.125);
}

.gearIcon[b-45rkf8v3vv] {
    margin: auto 12px auto 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 32px;
    cursor: pointer;
    transition: all 250ms ease;
    position: relative;
}

.bi-gear-fill[b-45rkf8v3vv] {
    display: none;
}

.gearIcon:hover > .bi-gear[b-45rkf8v3vv] {
    display:none;
}

.gearIcon:hover > .bi-gear-fill[b-45rkf8v3vv] {
    display:block;
}

.gearIcon:hover[b-45rkf8v3vv] {
    transform: rotate(90deg)
}

.mailboxIcon[b-45rkf8v3vv] {
    margin: auto 12px auto 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 32px;
    cursor: pointer;
    transition: all 250ms ease;
    position: relative;
}

.bi-mailbox2[b-45rkf8v3vv], .bi-bell-fill[b-45rkf8v3vv] {
    display: none;
}

.mailboxIcon:hover > .bi-mailbox[b-45rkf8v3vv], .mailboxIcon:hover > .bi-bell[b-45rkf8v3vv] {
    display: none;
}

.mailboxIcon:hover > .bi-mailbox2[b-45rkf8v3vv], .mailboxIcon:hover > .bi-bell-fill[b-45rkf8v3vv] {
    display: block;
}

.mailboxIcon:hover[b-45rkf8v3vv] {
    animation: mailbox-b-45rkf8v3vv ease 500ms;
}

@keyframes mailbox-b-45rkf8v3vv {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg)
    }
    50% {
        transform: rotate(-15deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

.topBarLeft[b-45rkf8v3vv] {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.topBarRight[b-45rkf8v3vv] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

.userIcon[b-45rkf8v3vv] {
    padding: 6px 6px 6px 6px;
    margin: 12px 12px 12px 0;
    background-color: rgb(250, 209, 223);
    border: 2px solid rgb(225, 180, 200);
    border-radius: 32px;
    cursor: pointer;
    transition: all 250ms ease;
}

.userIcon:hover[b-45rkf8v3vv] {
    filter: brightness(.7)
}