.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.prompt {
    margin: 64px auto 0 auto;
    text-align: center;
}

.input {
    border-radius: 32px 0 0 32px;
    border: 4px solid lightgrey;
    border-right: 2px solid lightgrey;
    width: 320px;
    transition: all 250ms ease;
    padding: 8px;
    font-size: 18px;
    align-self:center;
}

.dropdown {
    border-radius: 0 32px 32px 0;
    border: 4px solid lightgrey;
    border-left: 2px solid lightgrey;
    cursor: pointer;
    font-size: 18px;
}

.dropdown:focus {
    border: 4px solid rgb(41, 207, 152);
    border-left: 2px solid rgb(41, 207, 152);
    outline: none;
}

.inputContainer {
    justify-content: center;
    display: flex;
    margin-top: 12px;
}

.searchIconContainer {
    align-items: center;
    height: 32px;
    width: 32px;
    margin-left: 12px;
}

.searchIconContainer:hover {
    animation: search ease 500ms;
}

.input:focus {
    border: 4px solid rgb(41, 207, 152);
    border-right: 2px solid rgb(41, 207, 152);
    outline: none;
}

.bi-search {
    transition: all 250ms ease;
    vertical-align: middle;
}

.bi-search:hover {
    font-size: 36px;
    cursor: pointer;
}

@keyframes search {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg)
    }

    50% {
        transform: rotate(-15deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.sliderContainer {
    margin: 12px auto 12px auto;
}

.sliderContainer > input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 128px;
    vertical-align: middle;
}

.sliderContainer > input[type=range]::-webkit-slider-runnable-track {
    background: lightgrey;
    height: 0.25rem;
    border-radius: 0.25rem;
    transition: all 250ms ease;
}

.sliderContainer > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    background-color: dimgrey;
    margin-top: -2px;
    cursor: pointer;
    transition: all 250ms ease;
}

.sliderContainer > input[type=range]::-webkit-slider-thumb:hover {
    background-color: rgb(41, 207, 152);
}

.sliderContainer > input[type=range]:active::-webkit-slider-runnable-track {
    background-color: darkgray;
}