@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div>
    <main class="page">
        <div class="topBar">
            <div class="topBarLeft">
                <div class="homeIcon">
                    <img width="124" src="res/icon.png"/>
                </div>
                <div class="topBarItem">
                    My Account
                </div>
                <div class="topBarItem">
                    Support
                </div>
            </div>
            <div class="topBarRight">
                <div class="mailboxIcon">
                    <i class="bi bi-bell"></i>
                    <i class="bi bi-bell-fill"></i>
                </div>
                <div class="mailboxIcon">
                    <i class="bi bi-mailbox"></i>
                    <i class="bi bi-mailbox2"></i>
                </div>
                <div class="gearIcon">
                    <i class="bi bi-gear"></i>
                    <i class="bi bi-gear-fill"></i>
                </div>
                <div class="userIcon">
                    ME
                </div>
            </div>
        </div>
        @Body
    </main>
</div>